<% @tipos.each do |tipo| %>
	<fieldset class="radius shadow">
		<div class="top">
			<h2><%= tipo.nome %></h2>
			<%= link_to "Ver todos animais em #{tipo.nome}", :controller => "main", :action => "show_tipo", :id => tipo.id %></a>
		</div>
		
		<% tipo.animals.find(:all, :limit => 2).each do |animal| %>
			<article class="nopdr">
				<%= image_tag (animal.photo.url(:small)), :width => "160", :height => "150" %>
				<ul>
					<li><strong>Animal: </strong><%= animal.nome %></li>
					<li><strong>Sexo: </strong><%= tipo.nome %></li>
					<li><strong>Idade: </strong><%= tipo.nome %></li>
					<li><strong>Raça: </strong><%= tipo.nome %></li>
					<li><strong>Castrado: </strong><%= tipo.nome %></li>
					<li><strong>Vermifugado: </strong><%= tipo.nome %></li>
					<li><strong>Vacinado: </strong><%= tipo.nome %></li>
					<li><a href="javascript:void(0);">Saiba mais ></a></li>
				</ul>
				<p><strong>Descrição: </strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>  
			</article>
			
		<% end %>
	</fieldset>
<% end %>