<h1>Editing tipo</h1>

<% form_for(@tipo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tipo %> |
<%= link_to 'Back', tipos_path %>